.App {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  padding: 0;
  display: grid;
  width: 100%;
  height: 100%;
}

.InputArea {
  width: 100%;
  height: 300px;
}

.ChartArea {
  width: 100%;
  height: 50%;
}
